body{
    display: grid;
    margin: 0 auto;
    height: auto;
    background-color:aliceblue;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px auto 50px;
    grid-gap: 13px;
    text-align: center;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer"
    
}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: large;
    
}
header{
    grid-area: header;
    display: grid;
    grid-template-rows: 2fr 2fr;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    background-color:grey;
    
    
}
h1{
    font-size: 20px;
}





nav{
    grid-area: nav;
    margin: 0;
    margin-top: 2%;
    margin-left: 0.1%;
    text-align: center;
    
}
nav a{
    text-decoration: none;
}



nav li{
    list-style-type:none;
    text-align: center;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    margin-left: 5ch;
    margin-right: 5ch;
    
}

nav li:hover{
    background-color: #808080;
    color:white;
}




nav > ul{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   margin: 0;
}
a:link{
    color: #0000EE;
}
a:visited{
    color:#551A8B;
}
a:hover{
    color: black;
}
a:active{
    color:rgb(0, 0, 225);
}




table,td{
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    color: black;
    margin-top: 20ch;
    margin-right: 1em;
    margin-left: 1em;
    border-spacing: 5px;
    
}
/*Bestämmer vart min footer ska vara (för det mesta tagen från https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/)*/
footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
#sida2.html iframe{
    margin-left: 40em;
}
#sida3.html img{
    width: 20%;
    height:20%;
}
form{
    margin-left: 80%;
}
#sida5.html h2{
   text-align: right;
}
.formulär{
    text-align: center;
    background-color: white;
    grid-template-columns: 1fr;
}
form label, form input{
    text-align: center;
    margin:0;
    grid-template-columns: auto;
}
.Rock{
    background-color: pink;
}